body{
	background: #232323;
	margin: 0;
	font-family: 'Avenir';

}
.square{
	width: 30%;
	padding-bottom:30%;
	margin:1.66%;
	float: left;
	background: pink;
	border-radius: 15%;
	transition: background 0.6s;
}
#container{
	max-width: 500px;
	margin:0 auto;
}
h1{
	text-align: center;
	color: white;
	line-height: 1.1;
	margin: 0;
	font-weight: normal;
	padding: 20px 0;
	text-transform: uppercase;
	background: steelblue;
}

#colorDisplay{
	font-size: 200%;
}

#stripe{
	background: white;
	text-align: center;
	height: 30px;
	color: black;
	margin-bottom: 1.66%;
}

.selected{
	color: white;
	background: steelblue;
}

button{
	border:none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: steelblue;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.3s;
	outline: none;
}

#message{
	display: inline-block;
	width: 20%;
}

button:hover{
	color:white;
	background: steelblue;
}